.desktopNavbar button {
   background: transparent;
   border: none;
   padding: 12px 0;
   border-bottom: 5px solid transparent;
   border-top: 3px solid transparent;
   cursor: pointer;
   margin-left: 12px;
   margin-right: 12px;
   font-weight: 700;
   font-size: 18px;
   font-family: inherit;
}

.desktopNavbar button.active {
   border-bottom: 5px solid #FF8800;
   color: #000;
}

.desktopBarBox {
   display: initial;
}

@media (min-width: 0px) and (max-width: 576px), (min-width: 577px) and (max-width: 768px), (min-width: 769px) and (max-width: 992px) {
   .desktopBarBox {
      display: none;
   }
}