.container {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   width: 100%;
   max-width: 950px;
   margin: auto;
}

.options {
   margin: 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.notFoundText {
   text-align: center;
   margin: auto;
}

/* Grid View  */

.grid .row {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

/* List View */

.list .row {
   flex: 100%;
   display: block;
}

.list .column {
   flex-direction: column;
}

/* Buttons */

.btn {
   border: none;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 10px 5px;
   background-color: #bbb;
   color: black;
}

.btnActive {
   background-color: #2196F3;
   color: #fff !important;
}

.showOrHide {
   display: initial;
}

/* Responsive transition when <=500px, toogle to list view */

@media all and (max-width: 500px) {
   .column {
      flex: 100% !important;
      display: block !important;
   }
   .row {
      flex-direction: column !important;
   }
   .showOrHide {
      display: none;
   }
}

@media all and (max-width: 550px) {
   .options {
      flex-direction: column;
   }
}