.form__group {
   position: relative;
   padding: 15px 0 0;
   margin-top: 10px;
   width: 46%;
}

.form__field {
   font-family: inherit;
   width: 100%;
   border: 0;
   border-bottom: 2px solid #9b9b9b;
   outline: 0;
   font-size: 1.3rem;
   color: #000;
   padding: 7px 0;
   background: transparent;
   transition: border-color 0.2s;
}

.form__field::placeholder {
   color: transparent;
}

.form__field:placeholder-shown~.form__label {
   font-size: 1.3rem;
   cursor: text;
   top: 20px;
}

.form__label {
   position: absolute;
   top: 0;
   z-index: -1;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: #000;
}

.form__field:focus {
   padding-bottom: 6px;
   font-weight: 700;
   border-width: 3px;
   border-image: linear-gradient(to right, #FF8800, #FF8800);
   border-image-slice: 1;
}

.form__field:focus~.form__label {
   position: absolute;
   top: 0;
   display: block;
   transition: 0.2s;
   font-size: 1rem;
   color: #FF8800;
   font-weight: 700;
}