:root {
   --cyan: hsl(180, 62%, 55%);
   --blue: hsl(212, 86%, 64%);
   --grayishBlue: hsl(229, 6%, 66%);
   --orange: #FF8800;
}

.card {
   padding: 10px;
   flex: 0 0 45%;
   margin: 10px;
   font-family: sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.applyBtn a {
   text-decoration: none;
   color: var(--blue);
}

.card h2 {
   text-align: center;
}

.salary {
   color: gray;
   font-size: 16px;
}

.card button {
   border: none;
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   font-size: 18px;
}

.cardFooter {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card button:hover {
   opacity: 0.7;
}

.buttons {
   display: flex;
   justify-content: space-between;
}

@media all and (max-width: 500px) {
   .column {
      flex: 100% !important;
      display: block !important;
   }
   .row {
      flex-direction: column !important;
   }
}

@media all and (max-width: 700px) {
   .buttons {
      flex-direction: column;
      align-items: center;
   }
   .buttons button {
      width: 100%;
      margin: 6px;
   }
}

/* New */

.card p {
   color: var(--grayishBlue);
}

.card {
   border-radius: 5px;
   box-shadow: 0px 30px 40px -20px var(--grayishBlue);
   padding: 20px;
}

.card img {
   float: right;
}

.cardSplit {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.cyan {
   border-top: 3px solid var(--cyan);
}

.blue {
   border-top: 3px solid var(--blue);
}

.orange {
   border-top: 3px solid var(--orange);
}