body {
   margin: 0;
   height: 100%;
   border: 0;
   background-color: #fff;
   font-family: 'mr-eaves-xl-modern', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #072438;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
   box-sizing: border-box;
}

#root {
   position: relative;
   min-height: 100vh;
}