/* new one */

.sidenav {
   height: 100%;
   position: fixed;
   z-index: 11;
   top: 0;
   right: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.3s;
   padding-top: 60px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sidenav button {
   background: transparent;
   border: none;
   padding: 12px 0;
   border-bottom: 5px solid transparent;
   border-top: 3px solid transparent;
   cursor: pointer;
   margin-left: 12px;
   margin-right: 12px;
   font-weight: 700;
   font-size: 18px;
   width: fit-content;
}

.sidenav .active {
   border-bottom: 5px solid #FF8800;
   color: #000;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

.fullWidth {
   width: 320px;
   /* max-width: 320px; */
}

.zeroWidth {
   width: 0;
}

@media screen and (max-height: 500px) {
   .sidenav {
      padding-top: 15px;
   }
   .sidenav button {
      font-size: 18px;
   }
}

@media screen and (max-width: 500px) {
   .fullWidth {
      width: 100%;
      max-width: 100%;
   }
}

/* Buguer */

.mobileBarBox {
   display: none;
}

@media (min-width: 0px) and (max-width: 576px), (min-width: 577px) and (max-width: 768px), (min-width: 769px) and (max-width: 992px) {
   .mobileBarBox {
      display: initial;
   }
}

.burguer {
   position: absolute;
   top: 30px;
   right: 30px;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   -webkit-box-pack: space-around;
   -webkit-justify-content: space-around;
   -ms-flex-pack: space-around;
   justify-content: space-around;
   width: 21px;
   height: 21px;
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 0;
   z-index: 10;
}

.burguer div {
   width: 21px;
   height: 2px;
   background: #072438;
   border-radius: 8px;
   -webkit-transition: all 0.3s linear;
   transition: all 0.3s linear;
   position: relative;
   -webkit-transform-origin: 1px;
   -ms-transform-origin: 1px;
   transform-origin: 1px;
}

.burguer div:first-child {
   -webkit-transform: rotate(0);
   -ms-transform: rotate(0);
   transform: rotate(0);
}